.container {
    height: 100%;
    width: 100%;
}

.align {
    width: 33.3%;
    height: 100%;
    float: left;
}

.logo { 
    background-color: aliceblue;
}

.login {
    background-color: greenyellow;
}

.signup {
    width: 33.4%;
    background-color: brown;
}